<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lazarte</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="upload()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- <ion-item>
    <ion-input [(ngModel)]="inputtext" placeholder="Type your Team"></ion-input >
  </ion-item>

  <button (click)="saveData()" type="button" name="button">Save Data</button>
  <button (click)="loadData()" type="button" name="button">Load Data</button> -->

  <ion-card *ngIf="obras">
    <ion-card-header>
      Lista de Obras
    </ion-card-header>
  </ion-card>

  <ion-list *ngIf="obras">
    <button ion-item *ngFor="let item of datosObras" (click)="goToMyPage(item.numero)">
      <ion-icon name="ios-briefcase-outline" item-start></ion-icon>
      {{item.denobr}}
    </button>

  </ion-list>

  <ion-list *ngIf="!obras">
    <ion-card>
      <ion-card-header>
        "No se han encontrado Obras cargadas, por favor actualice la aplicación"
      </ion-card-header>
    </ion-card>

    <button ion-button block (click)="actualizar()">
      <ion-icon name="md-refresh" item-start></ion-icon> Actualizar
    </button>

  </ion-list>

</ion-content>
