<ion-header>
  <ion-navbar color=primary>
    <ion-title>
      Obra: {{ datosObra.denobr}}
    </ion-title>
    <!-- <ion-buttons end>
      <button (click)="openModal()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons end>
      <button ion-button icon-only (click)="upload()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar style="background:#e4e4e4; font-size:11px">
    <ion-title>Tarea: {{ datosTarea.codtar }} -- {{ datosTarea.dentar }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>


  <ion-card *ngIf="hayMediciones">
    <ion-card-header>
      Mediciones
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of mediciones">{{item.codtar}} -- {{item.tipmed}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!hayMediciones">
    <ion-card-header>
      Mediciones
    </ion-card-header>
    <ion-card-content>
      Aún no se han generado mediciones
    </ion-card-content>
  </ion-card>

  <!-- <pre>{{ medicionForm.value | json }}</pre> -->
  <form [formGroup]="medicionForm">

    <ion-list>
      <ion-item>
        <ion-label stacked style="font-size:12pt">Unidad: {{ datosTarea.unidad }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Fecha</ion-label>
        <ion-input formControlName="fecha" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Hora Inicio</ion-label>
        <ion-input formControlName="horini" type="time"
                   (change)="medicionForm.controls['horfin'].updateValueAndValidity()"></ion-input>
      </ion-item>

      <div *ngIf="medicionForm.get('horini').errors?.vacio"
        style="color:red; padding:20px">No es un rango valido</div>

      <ion-item>
        <ion-label stacked>Hora Fin</ion-label>
        <ion-input formControlName="horfin" type="time"
                   (change)="medicionForm.controls['horini'].updateValueAndValidity()"></ion-input>
      </ion-item>

      <div *ngIf="medicionForm.get('horfin').errors?.vacio"
         style="color:red; padding:20px">No es un rango valido</div>

      <ion-item>
        <ion-label stacked>Cantidad</ion-label>
        <ion-input formControlName="cantidad" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Tipo de medición</ion-label>

        <ion-select formControlName="tipmed">
          <ion-option value="Avance">Avance</ion-option>
          <ion-option value="Parada">Parada</ion-option>
          <ion-option value="Fin">Fin</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Cant. Oficiales</ion-label>
        <ion-input formControlName="canofi" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Cant. Ayudantes</ion-label>
        <ion-input formControlName="canayu" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Cant. Hs. de Equipo - Maquina</ion-label>
        <ion-input formControlName="canoesp" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Cant. Hs. Obrero Especializado</ion-label>
        <ion-input formControlName="canhseq" type="number"></ion-input>
      </ion-item>

      <button ion-button block icon-start (click)="saveMedicion()">
        Cargar  <ion-icon style="margin-left:5px" name="md-arrow-round-forward"></ion-icon>
      </button>

    </ion-list>

  </form>


</ion-content>
